@{
    ViewBag.Title = "CashWithdrawForLimitedTransactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>You can't withdraw cash more than three times</h4>
@using (Html.BeginForm("Options", "Eatm"))
{
    <button type="submit" class="btn btn-primary">Go back to Options</button>
}